<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /SyncSimpl/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /SyncSimpl/welcome-1.php [L]
</IfModule>