    .active{
       color:#A90707 !important;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #000; /* Add a line at the bottom of the header */
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-container {
        flex: .5; /* Increase the flex value for the logo container */
    }

    .logo {
        max-width: 100%;
        height: auto;
    }

    nav {
        flex: 3; /* Adjust as needed */
    }

    .icons-container {
        margin-right: 20px;
        display: flex;
        align-items: center; /* Align items vertically */
    }

    nav {
        margin-left : 2%;
    }

    .module{
        margin-left : 1%;
        margin-right : 1%;
        color:#000;
        text-decoration: none; /* Remove underline */
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .module:hover {
        text-shadow: none; /* Remove text shadow on hover if needed */
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .rounded-icon {
        margin-right: 10px;
        width: 32px; /* Adjust size as needed */
        height: 32px; /* Adjust size as needed */
        border-radius: 50%; /* Makes it rounded */
        background-color: #212529; /* Background color for the circle */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-lg{
        color:white;
    }

    .section_container {
        display: flex;
        height: calc(100% - headerHeight); /* Subtract header height from 100% */
    }

    .section1 {
        flex: 1;
        /* border: 1px solid black; */
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .section2 {
        height: 250px;
        flex: 3; 
        background-color: #E8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section3 {
        flex: 1;
        /* border: 1px solid black;  */
        height: 100%; /* Set the height of the section to 100% */
        display: flex;
        flex-direction: column; /* Display buttons vertically */
        justify-content: center;
        align-items: center;
        position: relative;
    }

    canvas {
        border-radius: 10px; /* Rounded corners */
    }

    .legend {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 20px;
    }

    .legend-item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        margin-left : 20px;
    }

    .legend-color {
        width: 12px;
        height: 12px;
        margin-right: 5px;
        /* border-radius: 5px; */
    }

    .buttons{
        border-radius: 10px;
        margin: 4px 4px 4px 4px;
        width: 200px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
        cursor: pointer;
        height:34px;
        color: black; 
        border: 2px solid black;
    }

    .buttons:hover {
        background-color: #45a049;
    }

    @keyframes shake {
        0% { transform: translateX(0); }
        20% { transform: translateX(-10px); }
        40% { transform: translateX(10px); }
        60% { transform: translateX(-10px); }
        80% { transform: translateX(10px); }
        100% { transform: translateX(0); }
    }
    
    .check{
        margin-top:5%;
    }

    .c-btn{
      border-radius: 50px;
      border:none;
      color: black; 
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      width: 150px;
      height :50px;
      font-size: 25px;
      left: 753px;
    }

    .check_in{
        background-color: #C4EEFB;
        justify-content: center;
        margin-right:30px;
    }

    .check_out{
        margin-right: 10px;
        background-color: #F82727;
        justify-content: left;
    }

    .resume{
        background-color: #5FE321;
        justify-content: right;
    }

    .break{
        background-color: #F8E74B;
        justify-content: right;
    }

    .project_report{
        background-color: #CEF3AA;
        margin-top: 22px;
    }

    .attendance{
        background-color: #AAF3EA;
    }

    .leaves{
        background-color: #F82727;
    }

    .policies{
        background-color: #BAB8B8;
    }

    .repository{
        background-color: #F3E3AA;
    }

    #doughnutChart{
        width: 200px !important;
        height: 150px !important;
        margin-top:-40px;
    }

    .legenditem{
        font-size: 12px;
    }


    .line-container {
        padding-bottom: 5px;
        position: relative;
        height: 1px;
        width: 69%;

    }

    .line {
        margin-top: 10px;
        position: absolute;
        height: 100%;
        width: calc(50% - 5px); /* Adjusted to leave space for the arrow */
        background-color: #B91212; /* Set the color for the line before the arrow */
    }

    .arrow {
        margin-top: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 27px;
        height: 16px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid #B91212;
        left: calc(50% - 5px); /* Adjust to center the arrow */
    }

    .gray-line {
        margin-top: 10px;
        position: absolute;
        height: 100%;
        width: calc(50% - 5px); /* Adjusted to leave space for the arrow */
        background-color: #BAB8B8; /* Set the color for the line after the arrow */
        right: 0; /* Align to the right */
    }

    .red-box {
        border-radius: 7px;
        border: 1px solid #B91212;
        padding: 2px;
        color: black;
        width: 68%;
        height: 23%;
        font-size: 33px;
        display: inline-block;
        font-family: Arial, sans-serif;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .start-line {
        position: absolute;
        height: 24px;
        width: 1px;
        background-color: #B91212;
    }
    .end-line {
        position: absolute;
        height: 24px;
        width: 1px;
        background-color: black;
        /* Adjust the positioning as per your layout */
        top: 0; /* Adjust this value to position the end-line vertically */
        left: 100%; /* Adjust this value to position the end-line horizontally */
        transform: translateX(-50%); /* Centers the end-line horizontally */
    }

    .start-time {
        left: -20px;
        top: 20px;
        font-size: 20px;
        position: absolute;
        height: 24px;
        width: 1px;
    }
    .end-time {
        position: absolute;
        height: 24px;
        width: 1px;
        top: 20px;
        font-size: 20px; 
        left: 96%;
    }
  
  .section_container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card1, .card2, .card3 {
    flex: 1;
    min-width: 300px; /* Set a minimum width for each card */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
  }
  
  .card1, .card2, .card3 {
    max-width: calc(33.33% - 20px); /* Adjust the width for responsiveness */
  }
  
  @media (max-width: 768px) {
    .card1, .card2, .card3 {
      max-width: calc(50% - 20px); /* Adjust the width for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .card1, .card2, .card3 {
      max-width: calc(100% - 20px); /* Adjust the width for even smaller screens */
    }
  }

    #barChart {
    flex: 1; /* Allow chart canvas to grow and take up remaining space */
    width: 100%; /* Set canvas width to 100% */
    height: 100%; /* Set canvas height to 100% */
    }

  .card-content h2 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }

  .column {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .column p {
    margin-left: 10px;
  }
  
  .chart {
    width: 35px;
    height: 35px;
  }
  
  .text {
    font-size: 16px; /* Adjusted font size */
    font-weight: bold; /* Bold font */
  }

  .count {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
  }
  
  .count b {
    display: block;
    font-weight: bold;
  }
  
  .card-content-ann {
    display: flex;
    align-items: center; /* Align items vertically */
  }

  #notificationTimer {
    margin-left: 10px; 
  }

  .notification_image {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 50%; /* This will make the image round */
    margin-right: 10px; /* Adds some space between image and text */
  }

  .notifi-time{
    margin-left: auto; 
  }

  p{
    margin-bottom: 0 !important;
  }

  .bg-red{
    background: #CB2626;
  }

  .bg-yellow{
    background: #F3E3AA;
  }

  .bg-blue{
    background: #3326CB;
  }

