.content_text {
    text-align: center;
    height:10%;
}
.eye_icon {
    position: relative;
}
.password {
    padding-right: 30px;
}
.eyeicon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-150%);
    cursor: pointer;
}
.card {
    border:none !important;
}
.form-label{
    font-weight: 500;
    font-size: medium;
}
.label{
    text-align: left;
}
.submit-btn{
    border-radius: 7px;
}
.logo{
width: 100px;
height: 53px;
top: 60px;
margin-right:5%;
}