.context_text_1{
    height:10%;
}
.eye_icon1 {
    position: relative;
}
.confirm_password {
    padding-right: 30px;
}
.eyeicon1 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-150%);
    cursor: pointer;
}

#term {
    border: 1px solid #fff;
    padding: 0.5em;
    /* -webkit-appearance: none;
    background-color: #D9D9D9; */
    width: 16px;
    height: 16px; 
}
